<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APP运行配置</title>
    <link rel="stylesheet" href="./../../../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./../../../../static/css/font.css">
    <link rel="stylesheet" href="./../../../../static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./../../../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./../../../../static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="page-content" style="left: 0px;top:0px">
    <div class="x-body">
      <div class="layui-row">
          <div style="float: left">
            <form style="margin-bottom: 10px" id="search_form" class="layui-form layui-col-md12 x-so" >
              <input type="text" id="project_name" name="project_name" placeholder="项目名称" autocomplete="off" class="layui-input">
              <input type="text" id="devicename" name="devicename" placeholder="手机名称" autocomplete="off" class="layui-input">
              <input type="text" id="serverIP" name="serverIP" placeholder="serverIP" autocomplete="off" class="layui-input">
              <input type="text" id="status" name="status" placeholder="状态" autocomplete="off" class="layui-input">
              <input class="layui-input" placeholder="创建时间" name="start" id="start">
              <input class="layui-input" placeholder="创建时间" name="end" id="end">
              <button class="layui-btn" style="margin-left:10px;margin-top: -3px" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
              <button class="layui-btn" style="margin-top: -3px" lay-submit="" lay-filter="clear" id="clear_search" onclick="reset_searchContents()"><i class="layui-icon">重置</i></button>
              <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:-3px;" href="javascript:location.replace(location.href);" title="刷新">
                  <i class="layui-icon" style="line-height:40px">ဂ</i></a>
                <script type="text/javascript">
                    function reset_searchContents(clear_search) {
                        $("#search_form").find(".layui-input").attr("value", null);
                    }
                </script>
            </form>
          </div>

       <div style="float: left;">
           <button class="layui-btn" style="margin-left: 15px" onclick="x_admin_show('添加运行配置','/apps/project_01/pop_add',600,400)"><i class="layui-icon"></i>添加</button>
           <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
       </div>
      </div>
      <span class="x-right" style="line-height:20px;margin-left: 200px" id="totalWebRS">共有数据：{{ rTotal }} 条</span>
      <table class="layui-table">
        <thead>
          <tr>
            <th style="width:20px">
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th style="width:50px">ID</th>
            <th style="width:50px">用户ID</th>
            <th style="width:180px">项目名称</th>
            <th style="width:180px">手机名称</th>
            <th style="width:150px">serverIP</th>
            <th style="width:100px">创建者</th>
            <th style="width:200px">创建时间</th>
            <th style="width:200px">更新时间</th>
            <th style="width:100px">状态</th>
            <th>操作</th></tr>
        </thead>
        {% if rTotal == 0 %}
        <tbody>
          <tr >
            <td colspan="11" style="border-width: 0px; top:100px" >
                <h2 style="text-align: center; ">{{ msg }}</h2>
            </td>
          </tr>
          </tbody>
          </table>
        {% else %}
        <tbody>
        {% for set in app_run %}
          <tr id="{{ set.id }}">
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{{ set.id }}</td>
            <td>{{ set.uid }}</td>
            <td>{{ set.pro_name }}</td>
            <td>{{ set.pho_name }}</td>
            <td>{{ set.serverIP }}</td>
            <td>{{ set.createby }}</td>
            <td>{{ set.c_time }}</td>
            <td>{{ set.upt_time }}</td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal layui-btn-mini">{{ set.status }}</span></td>
            <td class="td-manage">
              <a id="{{ set.id }} "title="运行" href="/apps/project_01/appFunc_run" onclick="runCase(this,{{ set.id }})">
                <i class="fa fa-play" ></i>
              </a>
              <a title="编辑"  onclick="x_admin_show('编辑','/project_01/appRunSetEdit_get?id={{ set.id }}',600,400)" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
{#                href="/apps/project_01/arSet_delete?id={{ set.id }}"#}
              <a title="删除" onclick="member_del(this,'要删除的id')" >
                <i class="layui-icon" onclick="">&#xe640;</i>
              </a>
              <a title="历史" onclick="x_admin_show('运行历史', '/project_01/runApp_history', 1300, 700)" href="javascript:;">
                  <i class="fa fa-history" aria-hidden="false"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>
      {% endif %}
    </div>
    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

      function runCase(the,id){
         layer.msg("已运行");
         $("#"+id).find("i").setClasses("fa fa-stop");
         $("#"+id).find("i").html("fa fa-stop");
          $.ajax({
            url: "/apps/project_01/appFunc_run/",
            type:"POST",
            data:{"id":id},
            //async : false,  //异步
            success: function (e) {
                if(e=="运行完成"){layer.msg("运行完成");}
                else {layer.msg("运行异常");}
                $("#"+id).parent("a").find("i").attr({"class":"fa fa-play"}, {"disabled": true});
                //window.location.reload();
            }
          });
        }
       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }

          });
      }

      /*用户-删除*/
      /*
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }
       */


      function delAll (argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
</body>
</html>