<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用例列表</title>
    <link rel="stylesheet" href="./../../../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./../../../../static/css/font.css">
    <link rel="stylesheet" href="./../../../../static/css/xadmin.css">
{#    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>#}
    <script type="text/javascript" src="./../../../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./../../../../static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../../../../static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="x-body" >
      <div class="layui-row">
          <div style="float: left;">
          <form style="margin-bottom: 5px" class="layui-form layui-col-md12 x-so" id="search_form">

              <input type="text" id="brand" name=" brand"  placeholder="项目名称" autocomplete="off" class="layui-input">
              <input type="text" id="devicename" name="devicename" placeholder="模块名称" autocomplete="off" class="layui-input">
              <input type="text" id="platform" name="platform" placeholder="用例名称" autocomplete="off" style="width: 100px" class="layui-input">
              <input type="text" id="sysversion" name="sysversion" placeholder="用户账号" autocomplete="off" class="layui-input">
              <input type="text" id="createby" name="createby" placeholder="创建者" autocomplete="off" class="layui-input" style="width:100px">
              <input type="text" id="status" name="status" placeholder="是否运行" autocomplete="off" class="layui-input" style="width:100px">
              <input id="dateStart" class="layui-input" placeholder="创建时间" name="start" >
              <input id="updateTime" class="layui-input" placeholder="更新时间" name="end" >
              <button class="layui-btn" style="margin-left: 10px;margin-top: -3px" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
              <button class="layui-btn" style="margin-left: 10px;margin-top: -3px" lay-submit="" lay-filter="clear" id="clear_search" onclick="reset_searchContents()"><i class="layui-icon">重置</i></button>
              <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:-3px; " href="javascript:location.replace(location.href);" id="refresh" title="刷新" onclick="reload()">
              <i class="layui-icon" style="line-height:40px">ဂ</i></a>
                <script type="text/javascript">
                    function reset_searchContents() {
                        $("#search_form").find(".layui-input").attr("value", null);
                    }
                    function reload(){
                        window.location.reload();
                    }
                </script>
        </form>
          </div>
        <div style="float: left">
            <button class="layui-btn" style="margin-left: 15px" id="add" onclick="x_admin_show('添加用例','/apps/project_01/pop_add',600,400)" href="javascript:;"><i class="layui-icon"></i>添加</button>
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        </div>
      </div>
        <span class="x-right" style="line-height:20px; float: right">共有数据：{{ mTotal }}条</span>
      <table class="layui-table" id="t_case">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
{#            <th>用户ID</th>#}
            <th>模块名称</th>
            <th>用例名称</th>
            <th>用户账号</th>
            <th>用户密码</th>
            <th>验证码</th>
            <th>创建者</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>执行顺序</th>
            <th>是否运行</th>
            <th>操作</th>
          </tr>
        </thead>
      {% if mTotal == 0 %}
          <tbody>
          <tr >
            <td colspan="11" style="border-width: 0px; top:100px" >
                <h2 style="text-align: center; ">{{ msg }}</h2>
            </td>
          </tr>
          </tbody>
      </table>
      {% else %}
        <tbody>
        {% for case in case_info%}
        <tr id="{{ m.id }}">
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{{ case.id }}<input style="width: 25px;" type="hidden" id="cid" value="{{ case.id }}" readonly="readonly"></td>
{#            <td>{{ case.uid }}<input style="width: 80px" type="hidden" id="uid" value="{{ case.uid }}" readonly="readonly"></td>#}
            <td>{{ case.module }}<input style="width: 60px" type="hidden" id="module" value="{{ case.module }}" readonly="readonly" ></td>
            <td>{{ case.case_name2 }}<input style="width: 250px" type="hidden" id="case_name2" value="{{ case.case_name2 }}" readonly="readonly"></td>
            <td>{{ case.para1 }}<input style="width: 25px" type="hidden" id="para1" value="{{ case.para1 }}" readonly="readonly"></td>
            <td>{{ case.para2 }}<input style="width: 25px" type="hidden" id="para2" value="{{ case.para2 }}" readonly="readonly"></td>
            <td>{{ case.para3 }}<input style="width: 25px" type="hidden" id="para3" value="{{ case.para3 }}" readonly="readonly"></td>
            <td>{{ case.createby }}<input style="width: 25px" type="hidden" id="createby" value="{{ case.createby }}" readonly="readonly"></td>
            <td>{{ case.c_time }}<input style="width: 25px" type="hidden" id="c_time" value="{{ case.c_time }}" readonly="readonly"></td>
            <td>{{ case.upt_time }}<input style="width: 25px" type="hidden" id="upt_time" value="{{ case.upt_time }}" readonly="readonly"></td>
            <td>{{ case.sort}}<input style="width: 25px" type="hidden" id="sort" value="{{ case.sort}}" readonly="readonly"></td>
            <td>{{ case.run }}<input style="width: 25px" type="hidden" id="run" value="{{ case.run }}" readonly="readonly"></td>

            <script>
                function member_del(obj,id){

                  layer.confirm('确认要删除吗？',function(index) {
                      //发异步删除数据
                      $(obj).parents("tr").remove();
                      layer.msg('已删除!', {icon: 1, time: 1000});
                  });
                }

            </script>
            <td class="td-manage">
              <a title="编辑" onclick="x_admin_show('修改用例','/apps/project_01/case_edit_get?id={{ case.id }}',600,400)" href="javascript:"><i class="layui-icon">&#xe642;</i></a>
              <a title="删除" onclick="member_del(this,'要删除的id')" href="/apps/base/machine_delete?id={{ case.id }}" >
                <i class="layui-icon" >&#xe640;</i>
              </a>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>
    {% endif %}
    </div>

<script>

      layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用');
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用');
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }

          });
      }

      {#/*用户-删除*/#}
      function member_del(obj,id){
          $(obj).parents("tr").remove();
          layer.msg('已删除!',{icon:1,time:1000});
          /*
          layer.confirm('确认要删除吗？',function(index) {
              //发异步删除数据
              $(obj).parents("tr").remove();
              layer.msg('已删除!', {icon: 1, time: 1000});
          }); */
      }

      function delAll (argument) {

        let data = tableCheck.getData();

        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
        function setReadonly(){
        let idc="#{{ case.id }} input";
        alert(idc);
        $(idc).attr("readonly", false);
        $(idc).attr("type", "text");
      }

      $(function () {
        let idc="#{{ case.id }}-edit";
        $("#p-edit").click(setReadonly);
      });

      function addTr(trObj) {
          let trs="<tr></tr>"
          let tr="<tr id=\"{{ case.id }}\">\n" +
              "            <td>\n" +
              "              <div class=\"layui-unselect layui-form-checkbox\" lay-skin=\"primary\" data-id='2'><i class=\"layui-icon\">&#xe605;</i></div>\n" +
              "            </td>\n" +
              "            <td>{{ case.id }}<input style=\"width: 25px\" type=\"hidden\" id=\"cid\" value=\"{{ case.id }}\" readonly=\"readonly\"></td>\n" +
              "            <td>{{ case.uid }}<input style=\"width: 80px\" type=\"hidden\" id=\"uid\" value=\"{{ case.uid }}\" readonly=\"readonly\"></td>\n" +
              "            <td>{{ case.module }}<input style=\"width: 60px\" type=\"hidden\" id=\"module\" value=\"{{ case.module }}\" readonly=\"readonly\" ></td>\n" +
              "            <td>{{ case.case_name2 }}<input style=\"width: 250px\" type=\"hidden\" id=\"case_name2\" value=\"{{ case.case_name2 }}\" readonly=\"readonly\"></td>\n" +
              "            <td>{{ case.para1 }}<input style=\"width: 25px\" type=\"hidden\" id=\"para1\" value=\"{{ case.para1 }}\" readonly=\"readonly\"></td>\n" +
              "            <td>{{ case.para2 }}<input style=\"width: 25px\" type=\"hidden\" id=\"para2\" value=\"{{ case.para2 }}\" readonly=\"readonly\"></td>\n" +
              "            <td>{{ case.para3 }}<input style=\"width: 25px\" type=\"hidden\" id=\"para3\" value=\"{{ case.para3 }}\" readonly=\"readonly\"></td>\n" +
              "            <td>{{ case.createby }}<input style=\"width: 25px\" type=\"hidden\" id=\"createby\" value=\"{{ case.createby }}\" readonly=\"readonly\"></td>\n" +
              "            <td>{{ case.c_time }}<input style=\"width: 25px\" type=\"hidden\" id=\"c_time\" value=\"{{ case.c_time }}\" readonly=\"readonly\"></td>\n" +
              "            <td>{{ case.upt_time }}<input style=\"width: 25px\" type=\"hidden\" id=\"upt_time\" value=\"{{ case.upt_time }}\" readonly=\"readonly\"></td>\n" +
              "            <td>{{ case.sort}}<input style=\"width: 25px\" type=\"hidden\" id=\"sort\" value=\"{{ case.sort}}\" readonly=\"readonly\"></td>\n" +
              "            <td>{{ case.run }}<input style=\"width: 25px\" type=\"hidden\" id=\"run\" value=\"{{ case.run }}\" readonly=\"readonly\"></td>\n" +
              "            </tr>\n";
          $(#trObj).after(trs);
      }

      var _hmt = _hmt || []; (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
      })();
    </script>
</body>
</html>