{% load staticfiles %}
<!doctype html>
<html lang="zh-CN">
{% block head %}
<head>
	<meta charset="UTF-8">
	<title>{% block title %}即有自动化测试平台{% endblock %}</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="icon" href="./../../../../static/images/labelico.png"/>
{#    <link href="{% static 'ATP/lib/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">#}
{#    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />#}

    <link rel="stylesheet" href="./../../../../static/lib/layui/css/layui.css">
    <link rel="stylesheet" href="./../../../../static/css/font.css">
	<link rel="stylesheet" href="./../../../../static/css/xadmin.css">
    {% block css %}{% endblock %}
    <script type="text/javascript" src="../../../../static/js/jquery-3.3.1.min.js"></script>
    <script src="./../../../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./../../../../static/js/xadmin.js"></script>

</head>
{% endblock head %}

<body>
    {% block topNav %}
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="/indexApp/index">即有自动化测试平台</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav left fast-add" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a onclick="x_admin_show('资讯','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
              <dd><a onclick="x_admin_show('图片','http://www.baidu.com')"><i class="iconfont">&#xe6a8;</i>图片</a></dd>
               <dd><a onclick="x_admin_show('用户','http://www.baidu.com')"><i class="iconfont">&#xe6b8;</i>用户</a></dd>
            </dl>
          </li>
        </ul>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{{ user }}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
{#              <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>#}
{#              <dd><a onclick="x_admin_show('登录', '/indexApp/logout',500,600)">切换帐号</a></dd>#}
              <dd><a href="/indexApp/logout">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="/indexApp/index">前台首页</a></li>
        </ul>
    </div>
    {% endblock topNav %}
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <!-- 左侧菜单开始 -->
    {% block leftMenu %}
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6ae;</i>
                    <cite>基本配置</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
{#                        <a _href="/app_project_base/load_machineInfo_list">#}
                        <a href="/app_project_base/load_machineInfo_list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>手机信息</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a href="/app_project_base/load_appInfo_list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>APP信息</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a href="/app_project_base/load_serverInfo_list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>服务器信息</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li data-name="component" class="layui-nav-item">
                <a href="javascript:;" lay-direction="2">
                    <i class="iconfont">&#xe6f4;</i>
                    <cite>测试项目</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                    <span class="layui-nav-more"></span>
                </a>
                <ul class="sub-menu">
                    <li class="layui-nav-item">
                        <a onclick="javascript:;">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>即有宝</cite>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/app_project_01/load_appFunc">
                                    <cite>用例管理</cite>
                                </a>
                            </li>
                            <li>
                                <a href="/app_project_01/load_appFuncSet">
                                    <cite>APP功能测试</cite>
                                </a>
                            </li>
                            <li>
                                <a href="/app_project_01/load_webFuncSet">
                                    <cite>WEB功能测试</cite>
                                </a>
                            </li>
                            <li>
                                <a href="/app_project_01/load_interface">
                                    <cite>接口测试</cite>
                                </a>
                            </li>
                            <li>
                                <a href="/app_project_01/load_report">
                                    <cite>测试报告</cite>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe757;</i>
                    <cite>数据统计</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/dataview/show_dataview">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>测试统计</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/users/show_member_list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户列表</cite>
                        </a>
                    </li>
                    <li>
                        <a href="/users/member_del">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户删除</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>管理员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/users/show_admin_list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员列表</cite>
                        </a>
                    </li >
                    <li>
                        <a href="/users/show_admin_role_list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>角色管理</cite>
                        </a>
                    </li >
                    <li>
                        <a href="/users/show_admin_cate_list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限分类</cite>
                        </a>
                    </li >
                    <li>
                        <a href="/users/show_admin_rule_list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限管理</cite>
                        </a>
                    </li >
                </ul>
            </li>
        </ul>
      </div>
    </div>
    {% endblock leftMenu %}
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <!-- 面包屑导航-->
    {% block breadNav %}
    <div class="layui-tab tab" style="margin-left: 0px;margin-top: 0px;" lay-filter="xbs_tab" lay-allowclose="false" >
    <div>
         <ul class="layui-tab-title" id="breadNav" style="margin-left: 3px">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
         </ul>
    </div>
    </div>
    {% endblock breadNav %}
    {% block rightContents %}
    <div class="page-content" style="margin-left: 0px; top:46px;">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <div class="layui-tab-content" style="top:0px;">
            <div class="layui-tab-item layui-show">
                {% block subRightContents %}
               <iframe src='/indexApp/rightContents' frameborder="0" scrolling="yes" class="x-iframe"; style="overflow-y: inherit"></iframe>
                {% endblock subRightContents %}
            </div>
          </div>
        </div>
        </div>

    <div class="page-content-bg"></div>
    {% endblock %}
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    {% block bottom %}
    <div class="footer">
        <div  style="text-align:center" class="copyright">Copyright ©2019 mirrorChen v1.0.0 All Rights Reserved</div>
    </div>
    <!-- 底部结束 -->
    <script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    {% endblock bottom %}
</body>
</html>